body {
    background-color: #454d6b;
    color: aliceblue;
    padding: 0;
    margin: 0;
}

#divTelaCheia {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}